html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@font-face {
    font-family: 'Metropolis-ExtraBold';
    src: local('Metropolis-ExtraBold'),
        url('./resources/fonts/Metropolis-ExtraBold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Metropolis-SemiBold';
    src: local('Metropolis-SemiBold'),
        url('./resources/fonts/Metropolis-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Metropolis-Bold';
    src: local('Metropolis-Bold'),
        url('./resources/fonts/Metropolis-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Metropolis-BoldItalic';
    src: local('Metropolis-BoldItalic'),
        url('./resources/fonts/Metropolis-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Metropolis-Medium';
    src: local('Metropolis-Medium'),
        url('./resources/fonts/Metropolis-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Metropolis-RegularItalic';
    src: local('Metropolis-RegularItalic'),
        url('./resources/fonts/Metropolis-RegularItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Metropolis-Regular';
    src: local('Metropolis-Regular'),
        url('./resources/fonts/Metropolis-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Metropolis-Light';
    src: local('Metropolis-Light'),
        url('./resources/fonts/Metropolis-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Metropolis-LightItalic';
    src: local('Metropolis-LightItalic'),
        url('./resources/fonts/Metropolis-LightItalic.ttf') format('truetype');
}
